html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  color: #fff;
  font-size: 16px;
  line-height: 1.8em;
  padding-top: 50px;
  text-align: center;
}

#bg_pattern { 
  background-image: url(../img/bg_pattern.png); 
  position: fixed; 
  opacity: 0.8; 
  left: 0px; 
  top: 0px; 
  width: 100%; 
  height: 100%; 
  z-index: -1;
}

.logo{
  display: block;
  margin: 0 auto;
}

.content{
  margin: 40px 0;
}

h1{
  text-transform: uppercase;
  font-weight: 700;
}

h1, p{
  color: #EBA228;
}

p span{
  font-weight: bold;
  text-shadow: 0 1px 5px rgba(0,0,0,.1);
}

.timer {
  margin: 40px 0;
  text-shadow: 0 1px 5px rgba(0,0,0,.1);
  height: 140px;
}

.timer .days-wrapper,
.timer .hours-wrapper,
.timer .minutes-wrapper,
.timer .seconds-wrapper {
  display: inline-block;
  width: 160px;
  height: 140px;
  /*margin: 0 10px;*/
  padding-top: 20px;
  font-size: 18px;
}

.timer .days-wrapper,
.timer .hours-wrapper,
.timer .minutes-wrapper{
  border-right: solid #fff 1px;
}

.timer .days,
.timer .hours,
.timer .minutes,
.timer .seconds {
    font-size: 80px;
    line-height: 90px;
}

.social{
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.social a{
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 3px;
    color: #fff;
}

.social a:hover{
  /*color: #CB6900;*/
  color: #EBA228;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
}